.content {
	margin: 2% 15%;
	margin-top: 80px;
}

.col-md-4 {
	margin-top: 15px;
}

.firstColumn {
	font-weight: bold;
}

.avatar {
	margin-right: 20%;
	width: 200px;
	height: 200px;
}