<html>
	<head>
	</head>
	<body>
		<form action="?controller=products&action=input" method="POST">
			<table>
				<tr>
					<td>
						<label>Name</label>
					</td>
					<td>
						<input type="text" name="name"/>
					</td>
				</tr>
				<tr>
					<td>
						<label>Beschreibung</label>
					</td>
					<td>
						<input type="text" name="description"/>
					</td>
				<tr>
					<td>
						<label>Preis</label>
					</td>
					<td>
						<input type="text" name="price"/>
					</td>
				</tr>
			</table>
			<input type="submit" class="btn btn-custom"/>
		</form>
	</body>
</html>